@import "tailwindcss";

@theme {
  --color-background: #fdfdfd;
  --color-foreground: #171717;
  --color-accent: #5a39ca;
  --color-primary: #ede8fe;
  --color-secondary: #ffdaae;

  --breakpoint-3xl: 1920px;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-accent: #7c5bd4;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: color 0.3s, background-color 0.3s;
}

* {
  @apply transition-colors duration-300;
}